<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello Vue</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="./vue.js"></script>
    </head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handBtnClick">提交</button>
        <ul>
            <todo-item-tag 
            v-on:delete="handleItemDelete"
            v-bind:content="item"
            v-bind:index="index" 
            v-for="(item,index) in list">
            {{item}}
            </todo-item-tag>
        </ul>

        <div>
            <span v-bind:title="tip">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>
        <div>
            <p v-if="seen" @click="handleSeenClick">现在你看到我了</p>
        </div>

    </div>
    <script>
        // 全局组件
        // Vue.component("TodoItem",{
        //     props:['content'],
        //     template: "<li>{{content}}</li>"
        // })

        //局部组件
        var TodoItem = {
            props:['content','index'],
            template: "<li v-on:click='handleItemClick'>{{content}}</li>",
            methods:{
                handleItemClick:function(){
                    this.$emit("delete",this.index);
                }
            }
        }
        var app = new Vue({
            el:'#app',
            components:{ //局部组件使用时，需要在这里进行注册
                TodoItemTag: TodoItem
            },
            data: {
                list: [],
                inputValue: '',
                tip:'页面加载于 ' + new Date().toLocaleString(),
                seen: true
            },
            methods:{
                handBtnClick: function(){
                    this.list.push(this.inputValue);
                    this.inputValue = "";
                },
                handleItemDelete: function(index){
                    this.list.splice(index,1)
                },
                handleSeenClick: function(){
                    this.seen = !this.seen
                }
            }
        })
    </script>

    <!-- 
        笔记：
        父组件向子组件传值
        v-bind:content="item" 将组件中属性与item绑定，实现组件间传值
        子组件向父组件传值
        通过子组件的emit向父组件触发delete事件，父组件监听delete事件，执行相应方法

        简写
        v-bind：content="item" => :content="item"
        v-on:delete => @delete
     -->

</body>
</html>
