<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello Vue</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="./vue.js"></script>
    </head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data: {
                list: [],
                inputValue: ''
            },
            methods:{
                handBtnClick: function(){
                    this.list.push(this.inputValue)
                    this.inputValue = ""
                }
            }
        })
    </script>

</body>
</html>
